@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #f8fafc;
        --foreground: #0f172a;

        --radius: 0.75rem;
    }
}

body {
    background-color: var(--background);
    color: var(--foreground);
}