@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
